<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savior.hotel.hotel_savior">

   <uses-permission android:name="android.permission.INTERNET"/>
   <application
        android:label="hotel_savior"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyD4rKPPME0cQd0h71yBdAs_I3xCsPmB1C8"/>

        <meta-data
           android:name="com.google.firebase.messaging.default_notification_channel_id"
           android:value="welcome_app_notification_channel_id" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
